* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.section-container {
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  width: 100%;
}

.background-section-one {
  background-image: url(../assets/fundo1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-section-two {
  background-image: url(../assets/fundo2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-container {
  font-family: "Bree Serif";
  background-image: url(../assets/fundo3.jpg);
  border-radius: 15px;
  padding: 25px;
  max-width: 500px;
  color: #fff;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #fff;
  color: #000;
}

form {
  display: grid;
}

footer {
  height: 100px;
  padding: 25px;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-family: "Bree Serif";
}

#novidade {
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 500;
  font-size: large;
  font-family: "Bree Serif";

}

#nome {
  text-align: left;
  font-family: "Bree Serif";
}

#email {
  text-align: left;
  font-family: "Bree Serif";
}

#button {
  font-family: "Bree Serif";
}